@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: url(fonts/lato-100-normal.eot);
	src: local('Lato Hairline'), local('Lato-Hairline'), url(fonts/lato-100-normal.woff2) format('woff2'), url(fonts/lato-100-normal.woff) format('woff'), url(fonts/lato-100-normal.ttf) format('truetype'), url(fonts/lato-100-normal.svg#Lato) format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/lato-300-normal.eot);
	src: local('Lato Light'), local('Lato-Light'), url(fonts/lato-300-normal.woff2) format('woff2'), url(fonts/lato-300-normal.woff) format('woff'), url(fonts/lato-300-normal.ttf) format('truetype'), url(fonts/lato-300-normal.svg#Lato) format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/lato-400-normal.eot);
	src: local('Lato Regular'), local('Lato-Regular'), url(fonts/lato-400-normal.woff2) format('woff2'), url(fonts/lato-400-normal.woff) format('woff'), url(fonts/lato-400-normal.ttf) format('truetype'), url(fonts/lato-400-normal.svg#Lato) format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/lato-700-normal.eot);
	src: local('Lato Bold'), local('Lato-Bold'), url(fonts/lato-700-normal.woff2) format('woff2'), url(fonts/lato-700-normal.woff) format('woff'), url(fonts/lato-700-normal.ttf) format('truetype'), url(fonts/lato-700-normal.svg#Lato) format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url(fonts/lato-900-normal.eot);
	src: local('Lato Black'), local('Lato-Black'), url(fonts/lato-900-normal.woff2) format('woff2'), url(fonts/lato-900-normal.woff) format('woff'), url(fonts/lato-900-normal.ttf) format('truetype'), url(fonts/lato-900-normal.svg#Lato) format('svg');
}
